doctype
html
  head
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0')
    meta(charset='utf-8')

    -
      var url    = '';
      var title  = 'Daily Drinks';
      var desc   = '';
      var imgurl = '';

    title=title
    meta(name='description'        content=desc)
    meta(property='og:url'         content=url)
    meta(property='og:title'       content=title)
    meta(property='og:description' content=desc)
    meta(property='og:site_name'   content=title)
    meta(property='og:image'       content=imgurl)
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous")
  body
    #app